.nav-link{
    width: 120px;
    text-align: center;
    
}

.navbar-nav{
    padding-right: 150px;
}

.btn{
    margin-right: 110px;
}

.banner-text{
    /* font-family: 'Spartan'; */
    font-size: 30px;
    font-weight: bolder;
}

span{
    color: #ff7907;
}

.btn_1{
    background-color: #ff7907;
    padding-left: 45px;
    padding-right: 45px;
}

.banner-link{
    list-style-type: none;
    font-family: 'Spartan';
    font-weight: bold;
    padding-left: 3px;
}

h1{
    color: orangered;
}

.card_1{
    background-color: #ff7907;
    padding: 40px;

}

.card{
    padding: 45px;
}


.card-text{
    padding: 11px;
}

.card_1{
    padding: 35px;
}

.main{
    padding: 3px;
}

.icons{
    /* color: #ff7907; */
    font-size: 40px;

}

.founder-detail{
    display: flex;
    justify-content: space-between;
}

.contact {
    background-color: #eb7106e1;
}

.contact-form{
    color: #ff7907;
    background-color: #ff7907;
    padding-top: 100px
}

.form-control{
    background-color: #f8eee453;
}

.btn_2{
    color: #ff7907;
    /* padding-left: 40px;
    padding-right: px; */
    padding: 5px;
}

.contact-text{
    font-size: 15px;
}

h3{
    text-align: center;
}

.carousel-inner{

    text-align: center;
    width: 100%;
}

.testimonial-card{
    text-align: center;
}